<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>

<body>
    <%- include('./components/header') %>

    <main>
        <section >
            
            <%books.forEach(val =>{%>
                <div class="books-card">
            <div class="book-title">
                <h4><%=val.title%></h4>
            </div>
            <div class="book-img">
                <a href="<%=val.link%>"><img src="<%=val.image%>"></a>
            </div>
            <div class="auther-title">
                <h5><%=val.authors%></h5>
            </div>
            <div class="book-desc">
                <p><%=val.description%></p>
            </div>
            <%})%>
        </div>
        </section>
    </main>
    <%- include('./components/footer') %>
</body>

</html>