<%- include('./components/header') %>

<main>
    <h1>Recommended Books</h1>
    <section class="books-section">
        <%books.forEach(val =>{%>
            <section class="books-cards">
            <div class="row">
                <div class="books-card">
                    <div class="book-img">
                        <a href="<%=val.link%>"><img src="<%=val.image%>"></a>
                    </div>
                    <div class="book-info">
                        <div class="book-title">
                            <h4><%=val.title%></h4>
                        </div>
                        <hr class="book-hr">
                        <div class="auther-title">
                            <h5><%=val.authors%></h5>
                        </div>
                        <div class="book-desc">
                            <p><%=val.description%></p>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        <%})%>
    </section>
</main>
<%- include('./components/footer') %>