<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/base.css">
</head>

<body>
    <%- include('./components/header') %>

    <main>
        <section>
        <div>
            <%- include('./components/search-form') %>
        </div>            
        </section>
        <section>
        <%imgs.forEach(img =>{%>
        <div class="img-details-cards">
            <div>
            <img src="<%=img.img_url%>" alt="">
            </div>
            <div class="img-tags">
            <ul>
                <%img.tags.forEach(tag =>{%>
                <li><%=tag%></li>
                <%})%>
            </ul>
              </div>
            <div class="photographer-details">
            <a
                href="https://pixabay.com/users/<%=img.photographerName%>-<%=img.photographerID%>"><%=img.photographerName%></a>
            <img src="<%=img.photographerImg%>" alt="">
            </div>

            <% if(LoggedIn){ %>
            <form action="/addToFavorite" method="post">
                <input type="hidden" value="<%=img.img_url%>" name="img_url">
                <input type="hidden" value="<%=img.photographerName%>" name="photographer_name">
                <input type="hidden" value="<%=img.photographerID%>" name="photographer_id">
                <input type="hidden" value="<%=img.photographerImg%>" name="photographer_img_url">
                <input type="hidden" value="<%=img.imgType%>" name="image_type">
                <!-- <input type="hidden" value="<%=user.id%>" name="userId"> -->
                <button>Add to favorite</button>
            </form>
            <% } %>
        </div>
        <%})%>
    </section>
    </main>
    <%- include('./components/footer') %>

</body>

</html>