<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/base.css">
</head>

<body>
    <%- include('./components/header') %>

    <main>
        <%imgs.forEach(img =>{%>
        <div>

            <img src="<%=img.img_url%>" alt="">
            <a
                href="https://pixabay.com/users/<%=img.photographerName%>-<%=img.photographerID%>"><%=img.photographerName%></a>
            <img src="<%=img.photographerImg%>" alt="">
            <ul>
                <%img.tags.forEach(tag =>{%>
                <li><%=tag%></li>
                <%})%>
            </ul>
            <% if(LoggedIn){ %>
            <form action="/addToFavorite" method="post">
                <input type="hidden" value="<%=img.img_url%>" name="img_url">
                <input type="hidden" value="<%=img.photographerName%>" name="photographerName">
                <input type="hidden" value="<%=img.photographerID%>" name="photographerID">
                <input type="hidden" value="<%=img.photographerImg%>" name="photographerImg">
                <input type="hidden" value="<%=img.imgType%>" name="imgType">
                <input type="hidden" value="<%=user.id%>" name="userId">
                <button>Add to favorite</button>
            </form>
            <% } %>
        </div>
        <%})%>
    </main>
</body>

</html>